<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>VinoVault</title>
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>
    <div class="container">
      <section class="hero">
        <div class="hero-text">
          <% if (user) { %>
            <h1>Welcome to VinoVault, <%= user.username %>!</h1>
            <p>
              <a href="/auth/sign-out">Sign out</a>
            </p>
            <% } else { %>
              <h1>Welcome to VinoVault, guest.</h1>
              <h2>Let's create your own VinoVault</h2>
              <p>
                <a href="/auth/sign-up">Sign up</a> or
                <a href="/auth/sign-in">Sign in</a>.
              </p>
              <% } %>
            </div>
            <div class="hero.img">
              <img src="/public/images/VinoVault-Wines.png" alt="VinoVault"/>
            </div>
          </section>
        </div>
      </body>
      </html>
