<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>VinoVault</title>
  </head>
  <body class="index-body">
    <%- include('./partials/_navbar.ejs') %>
      <section class="hero">
        <div class="hero-text">
          <% if (user) { %>
            <h1>Welcome to VinoVault, <h3><%= user.username %>!</h3></h1>
            <p class="nav-links">
              <a class="authlink" href="/auth/sign-out">Sign out</a>
            </p>
          </div>
            <% } else { %>
              <h1>Welcome to VinoVault, guest.</h1>
              <h2>Let's create your own VinoVault</h2>
              <p class="nav-links">
                <a class="authlink" href="/auth/sign-up">Sign up</a>
                <a class="authlink" href="/auth/sign-in">Sign in</a>
              </p>
              <% } %>
            </div>
          </section>
        </div>
      </body>
      </html>
