<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a New Wine</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add a New Wine</h1>
    <form action="" method=""></form>
    <label for="name">Wine Name</label>
    <input type="text" name="name" id="name" />

    <label for="winery" >Winery</label>
    <input type="text" name="winery" id="winery">

    <label for="region" >Region</label>
    <input type="text" name="region" id="region">

    <label for="type" >Type of Wine</label>
    <select id="type" name="type">
        <option value="Red">Red</option>
        <option value="White">White</option>


    <label for="year" >Year</label>
    <input type="text" name="year" id="year">

    <label for="category" >Category</label>
    <select id="category" name="category">
        <option value="Albariño">Albariño</option>
        <option value="Alicante Henri Bouschet">Alicante Henri Bouschet</option>
        <option value="Arneis">Arneis</option>
        <option value="Assyrtiko">Assyrtiko</option>
        <option value="Banyus">Banyus</option>
        <option value="Barbera">Barbera</option>
        <option value="Brachetto d'Acqui">Brachetto d'Acqui</option>
        <option value="Cabernet Franc">Cabernet Franc</option>
        <option value="Cabernet Sauvignon">Cabernet Sauvignon</option>
        <option value="Carigan">Carignan</option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>

    <label for="rating" >Rating</label>
    <input type="number">

    <label for="flavorProfile" >Flavor Profile</label>
    <input type="">

    <label for="notes" >Notes</label>
    <textarea name="notes" id="notes"></textarea>

    <button type="submit">Add Wine</button>
  </body>
</html>