@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap');

body {
    margin: 0;
    font-family: 'Quicksand' serif;
    background-color: rgb(0, 0, 0);
    color: #2c2c2c;
}

/* .container {
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: auto auto;
    grid-template-areas: "hero hero" "info wines";
    gap: 3rem;
    padding: 3rem;
    max-width: 300px;
    margin: 0 auto;
} */

.hero {
    grid-area: hero;
    display: flex;
    align-items: right;
    justify-content: space-between;
    background: transparent;
    border-radius: 16px;
    padding: 2rem;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 5rem;
    color: #eadab6;
    margin-bottom: 2rem;
}

.hero-text h2 {
    font-size: 2.7rem;
    color: #eadab6;
    margin-bottom: 2rem;
}

.hero-text p {
    font-size: 2rem;
    line-height: 2.2;
    margin-bottom: 3rem;
}

.hero-text .btn {
    background-color: #800000;
    color: #fff;
    padding: 1.5rem 3rem;
    border: none;
    border-radius: 8px;
    font-size: 2rem;
    cursor: pointer
}

.index-body {
    background-image: url('/images/VinoVault-Wines-wider.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* background-attachment: fixed; */
    min-height: 100vh;
    width: 100vw;
    color: white;
    /* margin: 0 */
}

.authlink {
    text-decoration: none;
    margin: 0 15px;
    color: #eadab6;
    font-weight: bold;
}

.authlink:hover {
    color: rgb(128, 56, 56);
}

.signin-container,
.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

h1 {
    color: #eadab6;  
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20em;
    height: 50%;
    background-color: #eadab6;
    padding: 30px 40px 20px 40px;
    border-radius: 20px;
    color: rgb(46, 46, 46);
    font-weight: bold;
}

input {
    border: 10px;
    background-color: rgb(237, 237, 237);
    padding: 8px;
    border-radius: 10px;
}

button {
    padding: 10px;
    background-color: rgb(106, 7, 7);
    color: #eadab6;
    border-radius: 30px;
    border: none;
    margin: 15px 0;
    font-size: 2.2em;
}

